html, body {
    height: 100%;
    margin: 0;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .containr, .content-wrapper-scrol {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
